* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

header {
    background-color: transparent;
    height: 100px;
}

header .logo img {
    height: 40px;
}

nav ul {
    display: flex;
}

nav li a {
    text-decoration: none;
    color: white;
    padding: 40px 10px;
    display: block;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}

header nav ul li a.active, header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 97px;
    position: relative;
}

header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0;
    width: calc(100% - 30px);
    left: 15px;
}

header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}

header nav .form .fa-solid {
    color: white;
    font-size: 20px;
    margin-left: 20px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

header nav .fa-bars {
    display: none;
}

@media (max-width: 767px) {
    header nav .fa-bars {
        display: block;
        font-size: 22px;
        color: white;
    }
    header nav ul {
        display: none;
        position: absolute;
        background-color: rgba(0 0 0 / 70%);
        width: calc(100%);
        top: 96px;
        right: 0;
    }
    header nav ul a {
        padding: 15px 25px;
    }
    header nav ul li:nth-last-of-type(1) a:hover {
        border: none;
    }
    header nav .fa-bars:hover + ul {
        display: block;
    }
}

.landing {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin-top: -100px;
    position: relative;
    z-index: -2;
}

.landing::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.landing .fa-solid {
    font-weight: 800px;
    font-size: 25px;
    color: white;
    position: absolute;
}

.landing .fa-angle-left {
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
}

.landing .fa-angle-right {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
}

.landing .circles span {
    border: 1px solid white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 5px;
    display: inline-block;
}

.landing .circles span:nth-of-type(2) {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.landing .circles {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
}

.landing .text-cont {
    position: absolute;
    left: 0;
    top: 50%;
    width: 50%;
    transform: translateY(-50%);
    color: white;
    background-color: var(--transparent-color);
    padding: 50px;
    line-height: 1.8;
    display: flex;
    justify-content: flex-end;
}

.landing .text-cont .text {
    max-width: 500px;
}

.landing .text-cont .text h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 25px;
}

.landing .text-cont .text p {
    font-size: 14px;
    line-height: 2;
}

@media (max-width: 767px) {
    .landing .text-cont {
       right: 0;
       width: 100%;
    }
    .landing .fa-angle-left,
    .landing .fa-angle-right {
        display: none;
    }
}

.services {
    padding: var(--section-padding) 0;
}

.title {
    min-width: 300px;
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
}

.title h1 {
    font-size:40px;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
}

.title div {
    position: relative;
    height: 2px;
    width: 100px;
    background-color: #333;
    margin: 10px auto;
}

.title div::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: white;
    border: 2px solid #333;
    top: 50%;
    right: 35%;
    transform: translate(-50%, -50%);
}

.title p {
    margin-top: 40px;
    color: #777;
    line-height: 2;
    margin-bottom: 100px;
}

.serv-cont {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(1 , minmax(250px, 1fr) );
    gap: 30px;
}

.serv-cont div {
    text-align: center;
}

.serv-cont div i {
    font-size: 45px;
}

.serv-cont div h2 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #19c8fa;
}

.serv-cont div p {
    color: #777;
    line-height: 2;
    font-size: 16px;
}

@media (min-width: 690px) {
    .serv-cont div {
        display: flex;
        text-align: left;
    }
    .serv-cont div i {
        flex-basis: 85px;
    }
    .serv-cont div .srv-text {
        display: block;
        flex: 1;
    }
    .serv-cont div .srv-text h2 {
        margin-top: 0;
    }
    .serv-cont div .srv-text p {
        margin-bottom: 40px;
    }
}

@media (min-width: 786px) {
    .serv-cont {
        grid-template-columns: repeat(2 , minmax(250px, 1fr) );
        gap: 20px;
    }
}

.design {
    background-image: url(../images/design-features.jpg);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    height: 600px;
    overflow: hidden;
    position: relative;
    z-index: -1;
    display: flex;
    align-items: center;
}

.design::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    right: 0;
    z-index: -2;
}

.design .image {
    position: relative;
    text-align: center;
    flex: 1;
}

.design img {
    position: relative;
    bottom: -150px;
}

.design .text {
    color: white;
    background-color: var(--transparent-color);
    position: relative;
    padding: 50px;
    flex: 1;
}

.design .text h2 {
    font-weight: 400;
    margin-bottom: 40px;
}

.design .text ul li {
    margin: 20px 20px 20px 0;
}

.design .text ul li i {
    margin: 10px 20px 10px 0;
}

@media (max-width: 787px) {
    .design .image {
        display: none;
    }
}

.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.portfolio .shuffle {
    width: 350px;
    margin: 0 auto;
    text-align: center;
}

.portfolio ul {
    margin-top: 40px;
    margin-bottom: 60px;
}

.portfolio ul li {
    display: inline;
    padding: 10px;
}

.portfolio ul li:first-of-type {
    background-color: var(--main-color);
    color: white;
}

.portfolio .gallery {
    display: grid;
    grid-template-columns: repeat(1, minmax(270px, 1fr));
}

.portfolio .gallery img {
    max-width: 100%;
    transition-duration: 0.5s;
}

@media (min-width: 768px) {
    .portfolio .gallery {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
}

@media (min-width: 1200px) {
    .portfolio .gallery {
        grid-template-columns: repeat(4, minmax(300px, 1fr));
    }
}

.portfolio .gallery .card {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.portfolio .gallery .card .caption {
    background-color: white;
    padding: 15px;
    line-height: 1.6;
    transition-duration: 0.3s;
    position: absolute;
    width: 100%;
    bottom: -100px;
}

.portfolio .gallery .card .caption h3 {
    font-weight: 400;
}

.portfolio .gallery .card .caption p {
    color: var(--main-color);
}

.portfolio .gallery .card:hover img {
    transform: rotate(3deg) scale(1.1, 1.1);
}

.portfolio .gallery .card:hover .caption {
    display: block;
    bottom: 0;
}

.portfolio .more a {
    background-color: var(--main-color);
    color: white;
    padding: 13px;
    text-decoration: none;
    font-size: 18px;
    width: 90px;
    display: inline-block;
}

.portfolio .more {
    width: 250px;
    margin: 30px auto;
    text-align: center;
}

.video {
    position: relative;
    width: 100%;
}

.video video {
    width: 100%;
}

.video::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 40%);
    top: 0;
    right: 0;
}

.video .text {
    z-index: 2;
    color: white;
    background-color: var(--transparent-color);
    position: absolute;
    top: 50%;
    width: 100%;
    height: 250px;
    transform: translateY(-50%);
    padding: 50px;
    text-align: center;
}

.video .text h2,
.video .text h4 {
    font-weight: 400;
    margin-bottom: 30px;
}

.video .text input {
    padding: 10px;
    color: white;
    background-color: black;
    border: none;
    width: 120px;
}

.about {
    padding-top: var(--section-padding);
    position: relative;
    overflow: hidden;
}

.about .image {
    text-align: center;
}

.about .image img {
    position: relative;
    max-width: 100%;
    bottom: -60px;
    margin-top: -100px;
}

.status {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/stats.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.status::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    right: 0;
}

.status .text {
    display: grid;
    grid-template-columns: repeat(1, minmax(100%, 1fr));
    background-color: var(--transparent-color);
    color: white;
    position: relative;
    z-index: 2;
}

@media (min-width: 768px) {
    .status .text {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
}

@media (min-width: 1200px) {
    .status .text {
        grid-template-columns: repeat(4, minmax(250px, 1fr));
    }
}

.status .text .card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}

.status .text i {
    background-color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status .text h1 {
    font-size: 50px;
    margin: 15px;
}

.status .text p {
    font-size: 14px;
}

.skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.skills .title h2 {
    font-size: 20px;
    font-weight: normal;
}

.skills .title p {
    margin-bottom: 50px;
}

.skills .container {
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    gap: 20px;
}

.skills .container .card {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
}

.skills .container .card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.skills .container .card p {
    line-height: 1.8;
}

.skills .test {
    position: relative;
}

.skills .test .card hr {
    height: 0.7px;
    background-color: #aeaeae;
    border: none;
    margin-bottom: 20px;
    margin-top: 5px;
}

.skills .container .card p.tit {
    text-align: right;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}

.skills .circles span {
    border: 1px solid #777;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 3px;
    display: inline-block;
}

.skills .circles span:nth-of-type(2) {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.skills .circles {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.skills .skill-cont .bars h2 {
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 15px;
}

.skills .skill-cont .bar-back {
    background-color: #dedadc;
    height: 30px;
    margin-bottom: 40px;
}

.skills .bar-back span {
    background-color: var(--main-color);
    display: inline-block;
    height: 30px;
    position: relative;
}

.skills .skill-cont span::before {
    position: absolute;
    content: attr(data-prg);
    width: 50px;
    height: 30px;
    border-radius: 10px;
    background-color: black;
    color: white;
    right: -25px;
    top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills .skill-cont span::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: black transparent transparent ;
    right: -10px;
    top: -22px;
}

@media (min-width: 786px) {
    .skills .container .card {
        flex-direction: row;
        text-align: left;
    }
    .skills .container .card .image {
        margin-right: 50px;
    }
    .skills .container .card p.tit {
        text-align: right;
    }
}

@media (min-width: 992px) {
    .skills .container {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        gap: 50px;
    }
}

.quote {
    background-image: url(../images/quote.jpg);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

.quote::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
}

.quote .container {
    position: relative;
    color: white;
    line-height: 1.4;
    z-index: 2;
}

.quote .container q {
    display: block;
    font-size: 30px;
    margin-bottom: 30px;
}

.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.pricing .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.pricing .cards .card {
    text-align: center;
    background-color: #fcfcfc;
}

.pricing .card .one {
    padding: 40px 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    width: 100%;
}

.pricing .card .one h3 {
    font-weight: normal;
    margin-bottom: 10px;
}

.pricing .card .one p {
    font-weight: 700;
}

.pricing .card .one p sup {
    font-size: 35px;
    font-weight: normal;
    margin-right: 5px;
}

.pricing .card .one span {
    font-size: 60px;
}

.pricing .card .two {
    border-bottom: 1px solid var(--main-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing .card .two p {
    padding: 20px;
    position: relative;
}

.pricing .card .two p:not(:last-of-type)::after {
    position: absolute;
    content: "";
    width: 140px;
    height: 1px;
    background-color: var(--main-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


.pricing .card .three a {
    color: black;
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    border: 1px solid var(--main-color);
    width: fit-content;
    margin: 30px auto;
}

.pricing .container .contact {
    text-align: center;
    margin: 50px auto 20px;
    font-size: 21px;
    padding: 0;
}

.pricing .container .contact + a {
    background-color: var(--main-color);
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    width: fit-content;
    display: block;
    margin: 15px auto;
}

.subscribe {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/subscribe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.subscribe::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
}

.subscribe .container {
    color: white;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
}

@media (max-width: 991px) {
    .subscribe .container {
        flex-direction: column;
    }
}

.subscribe .container form {
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
}

.subscribe .container input[type="email"] {
    padding: 20px 20px 20px 50px;
    background: none;
    color: white;
    border: 1px solid white;
    border-right: none;
    display: block;
    width: calc(100% - 140px);    
    caret-color: var(--main-color);
}

.subscribe .container i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    font-size: 25px;
}
.subscribe .container input[type="submit"] {
    padding: 20px;
    background-color: var(--main-color);
    color: white;
    width: 140px;
    border: 1px solid white;
    border-left: none;
}

.subscribe form input[type="email"]:focus, .subscribe form input[type="submit"]:focus {
    outline: none;
}

.subscribe .text {
    margin-left: 50px;
    line-height: 2;
}

@media (max-width: 991px) {
    .subscribe .text {
        margin: 30px 0 0;
    }
}

.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.contact .content {
    display: flex;
    justify-content: space-between;
}

.contact .content form {
    flex-basis: 70%;
}

.contact .content form input,
.contact .content form textarea {
    display: block;
    padding: 15px;
    margin-bottom: 30px;
    width: 100%;
    border: 1px solid #dedadc;
}

.contact .content form textarea {
    height: 200px;
}

.contact .content form input[type="submit"] {
    width: fit-content;
    padding: 20px;
    background-color: var(--main-color);
    border: none;
    color: white;
    display: flex;
    margin-left: auto;    
    cursor: pointer;
}

.contact .content .text {
    flex-basis: 25%;
    line-height: 1.8;
    color: #777;
}

.contact .content .text h2 {
    color: black;
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 20px;
}

.contact .content .text div:last-of-type {
    margin-top: 50px;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .contact .content {
        flex-direction: column;
        justify-content: space-between;
    }
    .contact .content form {
        order: 2;
    }
    .contact .content .text {
        text-align: center;
    }
}

.footer {
    padding-top: 50px;
    padding-bottom: 40px;
    background-image: url(../images/subscribe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.footer .container {
    color: white;
    text-align: center;
    position: relative;
    z-index: 2;
}

.footer::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
}

.footer img {
    margin-bottom: 45px;
}

.footer h2 {
    margin: 15px auto;
    font-weight: normal;
    position: relative;
}

.footer h2::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 1px;
    background-color: white;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.footer i {
    margin: 20px 15px 60px;
}

.footer span {
    color: var(--main-color);
}